body {
    background-image: linear-gradient(to top, #accbee 100%, #e7f0fd 100%);
  }
  
  small {
    position: fixed; 
    right: 630px; 
    font-size: 13px;
  }
  
  small a {
    text-decoration: none;
    text-align: left, center;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
  }
  
  h2 {
    text-align: center;
    font-size: 15px;
  }

  .row {
    position: fixed;
    text-align: center;
    right: 525px; 
  }

  .time {
  font-size: large;
  text-align: center;
  }

  .icon {
    position: fixed;
    left: 537px;
    top: 157px;
    font-size: 30px;
  }
  
  .container {
    padding: 20px;
    max-width: 900px;
  }
  
  .temperature, .weatherTemperature {
    position: relative;
    font-size: 35px;
    float: left;
    left: 130px;
    top: 19px;
    margin: 15px;
  }
  
  .units a {
    text-decoration: none;
    font-size: 25px;
    color: black;
  }
  
  .weather {
    position: relative;
    margin: 15px;
    width: 30%;
    top: 47px;
    right: 90px;
    float: right;
  }

  .search {
    position: fixed;
    right: 667px;
    text-align: center;
    margin: 0;
  }

  .entercity {
    border-radius: 10px;
    padding: 1px 30px;
    text-align: center;
  }
  
  .searchButton {
    position: fixed;
    background-color: transparent;
    border-radius: 10px;
    padding: 2px 20px;
    box-shadow: 1px 1px;
    left: 730px;
  }
  
  .currentLocation {
    background-color: transparent;
    border-radius: 10px;
    padding: 2px 20px;
    box-shadow: 1px 1px;
  }