body {
  background-image: linear-gradient(to top, #accbee 100%, #e7f0fd 100%);
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 15px;
}

.container {
  padding: 20px;
  max-width: 900px;
}

.icon {
  position: fixed;
  left: 530px;
  top: 157px;
  font-size: 30px;
}

.temperature, .weatherTemperature {
  position: relative;
  font-size: 35px;
  float: left;
  left: 130px;
  top: 19px;
  margin: 15px;
}

.weather {
  position: relative;
  margin: 15px;
  width: 30%;
  top: 47px;
  right: 90px;
  float: right;
}


.row {
  text-align: center;
  position: fixed;
  top: 330px;
  right: 451px; 
}

.time {
  font-size: medium;
  text-align: center;
  }

  
